extends layout

block content
  h1.page-title= title

  form.search-form(action="/search", method="POST")
    .form-group
      label(class="sr-only" for="address") Street Address:
      input(type="text", id="address", name="address", placeholder="Street Address" value=address)
    
    .form-group
      label(class="sr-only" for="zipcode") ZIP Code:
      input(type="text", id="zipcode", name="zipcode", placeholder="Zip Code" value=zipcode)
    
    .form-group
      label(class="sr-only" for="radius") Search Radius (miles):
      input(type="number", id="radius", name="radius", placeholder="Search Radius" value=radius || 10, min="1", max="50")
    
    .form-group
      label(class="sr-only" for="sicCode") Business Type:
      select(id="sicCode", name="sicCode")
        option(value="", selected=!sicCode) -- Select Business Type --
        option(value="802101", selected=sicCode==="802101") Dentists
        option(value="801101", selected=sicCode==="801101") Doctors
        option(value="599504", selected=sicCode==="599504") Opticians
        option(value="591205", selected=sicCode==="591205") Pharmacies
    
    button.submit-bttn(type="submit") Search